<html>
<head>
<META http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title></title>
</head>
#fkview("config=${cfgFileName}")
	<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0"
		bgcolor="#F1F4FA">
		<div class="searchCondition">
		<div class="module">
			<h2>类别条件:</h2>
			<div>
				<p>机构编码</p>
				<div>#fktexteditor("id=edtBranCode")</div>
			</div>
			<div>
				<p>机构名称</p>
				<div>#fktexteditor("id=edtBranName")</div>
			</div>
		</div>
	</div>
	<div class="searchButton">
		<div class="refresh" onclick="window.location.reload();">刷新</div><div class="search" onclick="paramSearch();">查询</div>
	</div>
	</body>
#end
</html>
