<%@ page contentType="text/html; charset=GBK"%>
<%@ taglib uri="kingfisher" prefix="fk"%>
<html>
#fkview("config=${cfgFileName}")
	<body topmargin="0" bgcolor="#F1F4FA">

	<table border="0" align="center" width="100%" cellspacing="0"
		cellpadding="2" height="100%" style="border-collapse:collapse;">
		<tr>
			<td height="100%">#fkdatatable("id=tbBMP")</td>
		</tr>

	</table>
	</body>
#end
</html>
