<html>
<head>
<META http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>修改密码</title>
<link rel="stylesheet" type="text/css" href="${applicationRoot}/exhibit/sysref/SystemModule.css"></link>

<style type="text/css">
#passStrength{height:6px;width:120px;border:0px solid #ccc;padding:2px;}
.strengthLv1{background:red;height:6px;width:30px;}
.strengthLv2{background:orange;height:6px;width:60px;}
.strengthLv3{background:blue;height:6px;width:90px;}
.strengthLv4{background:green;height:6px;width:120px;}
</style>
    
</head>

#fkview("config=${cfgFileName}")
	<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0"
		bgcolor="#F1F4FA">

	<table border="0" width="100%" id="table1" height="100%"
		class="autoform">
		<tr>
			<td height="22" colspan="2">
			<table border="0" width="100%" height="100%" class="titleHint">
				<tr>
					<td>
					<p class="titleHintLeft"><b>密码维护</b> &nbsp;&nbsp;修改当前用户登录密码</p>
					</td>
				</tr>
			</table>
			</td>
		</tr>

		<tr>
			<td height="100%" colspan="2">
			<table border="0" width="100%" id="table1" height="100%"
				class="autoform" style="border:1px #83B6DC solid">
				<tr>
					<td height="0" width="55"></td>
					<td width="70"></td>
					<td width="200"></td>
					<td width="5%" />
				</tr>
				<tr>
					<td rowspan=4><img src="${applicationRoot}/exhibit/sysimgs/key.gif" width="51"
						height="58" border="0"></td>
					<td height="22" align="right">用户编码：</td>
					<td>#fktexteditor("id=UserCode")</td>
					<td />
				</tr>
				<tr>
					<td height="22" align="right">用户名称：</td>
					<td>#fktexteditor("id=UserName")</td>
					<td />
				</tr>
				<tr>
					<td height="22" align="right">原始密码：</td>
					<td>#fktexteditor("id=OriPWD")</td>
					<td />
				</tr>
				<tr>
					<td height="22" align="right">修改密码：</td>
					<td>#fktexteditor("id=PWD")</td>
					<td />
				</tr>
				<tr>
					<td height="22"></td>
					<td align="right">确认密码：</td>
					<td>#fktexteditor("id=PWD2")</td>
					<td />
				</tr>
				<tr>
					<td height="100%" colspan="4" style="color: red">
						密码必须包含大小字母，数字，特殊字符中的任意三种，且长度为8-30个字符！
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td height="2" />
		</tr>
		<tr>
			<td height="25" align="left" width="50%">
				<div id="passStrength"></div>
			</td>
			<td align="right" width="50%">
				#fkbutton("id=btnOK") &nbsp; #fkbutton("id=btnClose")
			</td>
		</tr>
		<tr>
			<td height="2" />
		</tr>
	</table>

	</body>
#end

</html>
