<html>
<head>
<META http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>日志删除</title>
<link rel="stylesheet" type="text/css" href="${applicationRoot}/exhibit/sysref/SystemModule.css"></link>

</head>

#fkview("config=${cfgFileName}")

	<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0"
		bgcolor="#F1F4FA">
		<div class="subwindowCondition">
			<div class="module">
				<div>
					<span style="width: 80px;">开始日期：</span>
					<div>
						#fktexteditor("id=BDate")
					</div>
				</div>
				<div>
					<span style="width: 80px;">结束日期：</span>
					<div>
						#fktexteditor("id=EDate")
					</div>
				</div>
			</div>
		</div>
		<div class="subwindowButton">
			<div class="btnOK">
				#fkbutton("id=btnOK")
			</div>
			<div class="btnClose">
				#fkbutton("id=btnClose")
			</div>
		</div>
	</body>
#end

</html>
