<html>
<head>
<META http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>列表管理</title>
<link rel="stylesheet" type="text/css" href="${applicationRoot}/exhibit/sysref/SystemModule.css"></link>

</head>
#fkview("config=${cfgFileName}")

	<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0"
		bgcolor="#F1F4FA">
		<div class="form_module">
			<div>
				<div>
					<div class="l">
						<font color="red">*</font>列表编码
					</div>
					<div class="r">
						#fktexteditor("id=DicCode")
					</div>
				</div>
				<div>
					<div class="l">
						<font color="red">*</font>列表名称
					</div>
					<div class="r">
						#fktexteditor("id=DicName")
					</div>
				</div>
				<div>
					<div class="l">
						<font color="red">*</font>列表组
					</div>
					<div class="r">
						#fktexteditor("id=DicGroup")
					</div>
				</div>
				<div>
					<div class="l">
						<font color="red">*</font>数据类型
					</div>
					<div class="r">
						#fktexteditor("id=DicType")
					</div>
				</div>
				<div class="h50">
					<div class="l">列表说明</div>
					<div class="r">
						#fktexteditor("id=DicDSC")
					</div>
				</div>
			</div>
		</div>
		<div class="form_button">
	    	#fkbutton("id=btnClose")
	        #fkbutton("id=btnSave")
    	</div>
	</body>
#end

</html>
